<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>

</head>

<body>
  <footer th:fragment="footer">
    <a class="totop" href="#">
      <img th:src="@{/images/totop.png}" width="25" height="25">
    </a>
    <div class="footer-bottom">
      <div class="container">
        <img th:src="@{/images/payment.png}" alt="payment method" class="payment-img" />
        <p class="copyright">
          Copyright &copy; <a href="#">Jewelry Store</a> all rights reserved.
        </p>
      </div>
    </div>
  </footer>
</body>

</html>